<%- include('header'); -%>

<div class="page-wrapper">
    <div class="page-content">
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Acceso</a></li>
                <li class="breadcrumb-item active" aria-current="page">ID <%= accessLog.id %></li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Datos de Acceso </h6>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Campo</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="font-weight: bold;">ID: </td>
                                        <td><%= accessLog.id %></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Método de acceso: </td>
                                        <td><%= accessLog.accessMethod %></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">IMEI: </td>
                                        <td><%= accessLog.imei %></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Tipo de acceso: </td>
                                        <td><%= accessLog.accessType %></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Geolocalización: </td>
                                        <td><%= accessLog.lat %>, <%= accessLog.lng %></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Fecha de acceso: </td>
                                        <td><%= accessLog.createdAt  %></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Guardia (ID): </td>
                                        <td><%= accessLog.user.id  %></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Guardia (Usuario): </td>
                                        <td><%= accessLog.user.username  %></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Guardia (Nombre): </td>
                                        <td><%= accessLog.user.name  %></td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Mapa</h6>
                        <div id="map" style="width: 100%; height: 80%; min-height: 400px;"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<script src="<%= host %>assets/bundle.js"></script>
<script>
    function initMap() {
        const location = { lat: parseFloat(`<%= accessLog.lat %>`), lng: parseFloat(`<%= accessLog.lng %>`) }
        const accessLog = JSON.parse(`<%- JSON.stringify(accessLog) %>`);

        App.map = new google.maps.Map(document.getElementById('map'), {
            center: location,
            zoom: 15,
            styles: [{
                featureType: 'poi',
                elementType: 'labels.icon',
                stylers: [{ visibility: 'off' }] // hide poi (businesses) icons
            },
            {
                featureType: 'poi',
                elementType: 'geometry',
                stylers: [{ color: '#e5e5e5' }] // poi geometry color
            },
            {
                featureType: 'poi.park',
                elementType: 'labels.text.stroke',
                stylers: [{ color: '#ffffff' }] // hide local businesses labels
            },
            {
                featureType: 'poi.park',
                elementType: 'labels.text.fill',
                stylers: [{ color: '#676767' }] // hide local businesses labels
            },
            {
                featureType: 'landscape',
                elementType: 'geometry',
                stylers: [{ color: '#f5f5f5' }] // buildings and so on
            },
            {
                featureType: 'road.arterial',
                elementType: 'labels',
                stylers: [{ visibility: 'off' }] // hide arterial roads labels
            },
            {
                featureType: 'road.highway',
                elementType: 'geometry', // highway color
                stylers: [{ color: '#dadada' }]
            },
            {
                featureType: 'road.highway',
                elementType: 'labels.text.stroke', // highway label text stroke (contorno)
                stylers: [{ color: '#ffffff' }]
            },
            {
                featureType: 'road',
                elementType: 'labels.text.fill', // rad label text color (fill)
                stylers: [{ color: '#676767' }]
            },
            {
                featureType: 'road.local',
                elementType: 'geometry',
                stylers: [{ color: '#ffffff' }] // park roads color

            },
            {
                featureType: 'transit',
                elementType: 'labels.icon',
                stylers: [{ visibility: 'off' }]
            },
            {
                featureType: 'transit',
                elementType: 'labels.text.fill',
                stylers: [{ color: '#676767' }]
            },
            {
                featureType: 'transit',
                elementType: 'labels.text.stroke',
                stylers: [{ color: '#ffffff' }]
            },
            {
                featureType: 'transit.station.bus',
                elementType: 'labels.icon',
                stylers: [{ visibility: 'off' }]
            }]

        });

        let marker = new google.maps.Marker({
            position: location,
            map: App.map,   
        })      

        const infowindow = new google.maps.InfoWindow({
            content: `<div>Médoto acceso: <span>${accessLog.accessMethod}</span></div><div>Tipo acceso: <span>${accessLog.accessType}</span></div>`
        });

        marker.addListener('click', function () {
            infowindow.open(App.map, marker);
        })
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY5scI2sYPDGoLn2INfct1gMw5gFLIHjs&callback=initMap"></script>

<%- include('footer'); -%>