<%- include('header'); -%>

<div class="page-wrapper">
    <div class="page-content">
        <div class="row chat-wrapper">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row position-relative">
                            <div class="col-lg-4 chat-aside border-lg-right">
                                <div class="aside-content">
                                    <div class="aside-header">
                                        <div class="d-flex justify-content-between align-items-center pb-2 mb-2">
                                            <div class="d-flex align-items-center">
                                                <figure class="mr-2 mb-0">
                                                    <img src="<%= host %>assets/images/avatar.png"
                                                        class="img-sm rounded-circle" alt="profile">

                                                </figure>
                                                <div>
                                                    <h6><%= adminData.name %></h6>
                                                    <p class="text-muted tx-13">Administrador</p>
                                                </div>
                                            </div>
                                            <div class="dropdown">
                                                <button class="btn p-0" type="button" id="dropdownMenuButton"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-settings icon-lg text-muted pb-3px"
                                                        data-toggle="tooltip" title="" data-original-title="Settings">
                                                        <circle cx="12" cy="12" r="3"></circle>
                                                        <path
                                                            d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                                                        </path>
                                                    </svg>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item d-flex align-items-center" href="#"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="feather feather-eye icon-sm mr-2">
                                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z">
                                                            </path>
                                                            <circle cx="12" cy="12" r="3"></circle>
                                                        </svg> <span class="">View Profile</span></a>
                                                    <a class="dropdown-item d-flex align-items-center" href="#"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="feather feather-edit-2 icon-sm mr-2">
                                                            <path
                                                                d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z">
                                                            </path>
                                                        </svg> <span class="">Edit Profile</span></a>
                                                    <a class="dropdown-item d-flex align-items-center" href="#"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="feather feather-aperture icon-sm mr-2">
                                                            <circle cx="12" cy="12" r="10"></circle>
                                                            <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
                                                            <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
                                                            <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
                                                            <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
                                                            <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
                                                            <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
                                                        </svg> <span class="">Add status</span></a>
                                                    <a class="dropdown-item d-flex align-items-center" href="#"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="feather feather-settings icon-sm mr-2">
                                                            <circle cx="12" cy="12" r="3"></circle>
                                                            <path
                                                                d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                                                            </path>
                                                        </svg> <span class="">Settings</span></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="aside-body">
                                        <ul class="nav nav-tabs mt-3" role="tablist">
                                            <li class="nav-item">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="contacts-tab" data-toggle="tab"
                                                    href="#contacts" role="tab" aria-controls="contacts"
                                                    aria-selected="true">
                                                    <div
                                                        class="d-flex flex-row flex-lg-column flex-xl-row align-items-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="feather feather-users icon-sm mr-sm-2 mr-lg-0 mr-xl-2 mb-md-1 mb-xl-0">
                                                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                            <circle cx="9" cy="7" r="4"></circle>
                                                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                                        </svg>
                                                        <p class="d-none d-sm-block">Contactos</p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content mt-3 ps">


                                            <div class="tab-pane fade active show" id="contacts" role="tabpanel"
                                                aria-labelledby="contacts-tab">
                                                <p class="text-muted mb-1">Contactos</p>
                                                <ul class="list-unstyled chat-list px-1"  >

                                                    <% if(typeof chatMembers != 'undefined') { 
                                                        for(let member of chatMembers) {
                                                    %>

                                                    <li class="chat-item pr-1">
                                                        <a href="javascript:;" class="d-flex align-items-center">
                                                            <figure class="mb-0 mr-2">
                                                                <img src="<%= host %>assets/images/avatar.png"
                                                                    class="img-xs rounded-circle" alt="user">

                                                            </figure>
                                                            <div
                                                                class="d-flex align-items-center justify-content-between flex-grow border-bottom">
                                                                <div>
                                                                    <p class="text-body"><%= member.username%></p>
                                                                    <div class="d-flex align-items-center">
                                                                        <p class="text-muted tx-13"><%=member.name%>
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </a>
                                                    </li>

                                                    <% } } %>

                                                </ul>
                                            </div>
                                            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;">
                                                </div>
                                            </div>
                                            <div class="ps__rail-y" style="top: 0px; right: 0px;">
                                                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 chat-content show">
                                <div class="chat-header border-bottom pb-2">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-corner-up-left icon-lg mr-2 ml-n2 text-muted d-lg-none"
                                                id="backToChatList">
                                                <polyline points="9 14 4 9 9 4"></polyline>
                                                <path d="M20 20v-7a4 4 0 0 0-4-4H4"></path>
                                            </svg>
                                            <figure class="mb-0 mr-2">
                                                <img src="<%= host %>assets/images/avatar.png"
                                                    class="img-sm rounded-circle" alt="image">

                                            </figure>
                                            <div>
                                                <p><%= adminData.name %></p>
                                                <p class="text-muted tx-13">Administrador</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="chat-body ">
                                    <ul id="messagesContainer" class="messages"
                                        style="position: absolute; height: calc(100vh - 550px); width: 100%; overflow-y: auto;">

                                        <% if(typeof chatMessages != 'undefined') {
                                            for(let message of chatMessages) {
                                                if(message.userId != adminData.id) {
                                        %>

                                        <li class="message-item friend">
                                            <img src="<%= host %>assets/images/avatar.png" class="img-xs rounded-circle"
                                                alt="avatar">
                                            <div class="content">
                                                <div class="message">
                                                    <div class="bubble">
                                                        <p><%= message.messageText %>
                                                        </p>
                                                    </div>
                                                    <span><%= message.createdAt %></span>
                                                </div>
                                            </div>
                                        </li>
                                        <% } else { %>
                                        <li class="message-item me">
                                            <img src="<%= host %>assets/images/avatar.png" class="img-xs rounded-circle"
                                                alt="avatar">
                                            <div class="content">
                                                <div class="message">
                                                    <div class="bubble">
                                                        <p><%= message.messageText %></p>
                                                    </div>
                                                </div>


                                                <span><%= message.createdAt %></span>

                                            </div>
                                        </li>
                                        <% }}} %>
                                    </ul>
                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                    </div>
                                    <div class="ps__rail-y" style="top: 0px; right: 0px;">
                                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                    </div>
                                </div>
                                <div class="chat-footer d-flex"
                                    style="position: fixed;top:68vh;width:50%;margin-left:50px">

                                    <form class="search-form flex-grow mr-2">
                                        <div class="input-group">
                                            <input type="text" class="form-control rounded-pill" id="chatForm"
                                                placeholder="Escrite un mensaje...">
                                        </div>
                                    </form>
                                    <div>
                                        <button id="sendMessageBtn" type="button"
                                            class="btn btn-primary btn-icon rounded-circle">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-send">
                                                <line x1="22" y1="2" x2="11" y2="13"></line>
                                                <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="<%= sockets_host %>socket.io/socket.io.js"></script>
<script>
    (function () {

        scrollToBottom()

        const endpoint = '<%= sockets_host %>'
        var socket = io(endpoint);
        socket.on('connect', function () {
            console.log(`Connection to sockets server stablished correctly...`)

            // Join company's chat room
            socket.emit('joinRoom', '1')
            console.log('Joining chat room...')
        });

        socket.on('joined', (data) => {
            console.log(`Joined room ${data}`)
        })

        // Listen for new messages
        socket.on('message', (data) => {
            console.log('New message received: ', data.msg)
            // add message
            var d1 = document.getElementById('messagesContainer')
            const userId = `<%= adminData.id %>`;
            if (data.msg.userId != userId) {
                d1.insertAdjacentHTML('beforeend', `<li class="message-item friend">
                                            <img src="<%= host %>assets/images/avatar.png" class="img-xs rounded-circle"
                                                alt="avatar">
                                            <div class="content">
                                                <div class="message">
                                                    <div class="bubble">
                                                        <p>${data.msg.messageText}
                                                        </p>
                                                    </div>
                                                    <span>${data.msg.createdAt}</span>
                                                </div>
                                            </div>
                                        </li>`)
            } else {
                d1.insertAdjacentHTML('beforeend', `<li class="message-item me">
                                            <img src="<%= host %>assets/images/avatar.png" class="img-xs rounded-circle"
                                                alt="avatar">
                                            <div class="content">
                                                <div class="message">
                                                    <div class="bubble">
                                                        <p>${data.msg.messageText}</p>
                                                    </div>
                                                </div>
                                                <span>${data.msg.createdAt}</span>                                                
                                            </div>
                                        </li>`)
            }
        })

        socket.on('disconnect', function () {
            console.log('user disconnected');
        });

        document.getElementById('sendMessageBtn').addEventListener('click', function (e) {
            e.preventDefault()
            const messageText = document.getElementById('chatForm').value

            if (!messageText) {
                return false
            }

            fetch(`<%= host %>admin/chat`, {
                method: 'POST',
                body: JSON.stringify({ messageText }),
                headers: {
                    "x-csrf-token": `<%= csrf %>`,
                    "Content-Type": "application/json"
                },
            })
                .then(data => data.json())
                .then(res => {
                    console.log(res)
                    document.getElementById('chatForm').value = ''
                    socket.emit('message', {
                        room: `<%= adminData.companyId %>`,
                        msg: res.payload,
                    })
                    var d1 = document.getElementById('messagesContainer')
                    d1.insertAdjacentHTML('beforeend', `<li class="message-item me">
                                            <img src="<%= host %>assets/images/avatar.png" class="img-xs rounded-circle"
                                                alt="avatar">
                                            <div class="content">
                                                <div class="message">
                                                    <div class="bubble">
                                                        <p>${res.payload.messageText}</p>
                                                    </div>
                                                </div>
                                                <span>${res.payload.createdAt}</span>                                                
                                            </div>
                                        </li>`)
                    scrollToBottom()
                })
                .catch(() => alert('Ocurrió un error al intentar realizar la acción'))
            return false
        })

        function scrollToBottom() {
            const div = document.getElementById('messagesContainer')
            div.scrollTop = div.scrollHeight;
        }
    })();
</script>

<%- include('footer'); -%>