<%- include('header'); -%>

<div class="page-wrapper">
    <div class="page-content">
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Ruta</a></li>
                <li class="breadcrumb-item active" aria-current="page">Nueva</li>
            </ol>
        </nav>
        <div class="row">

            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Crear Nueva Ruta</h6>
                        <form class="forms-sample" action="" method="post">
                            <%  if (serverMsg && valid == true) { %>
                            <div class="alert alert-success" role="alert">
                                <%= serverMsg ? serverMsg : '' %>
                            </div>
                            <% } else if (serverMsg && valid == false) { %>
                            <div class="alert alert-danger" role="alert">
                                <%= serverMsg ? serverMsg : '' %>
                            </div>
                            <% } %>
                            <div class="form-group">
                                <label>Nombre</label>
                                <input name="name" type="text" class="form-control" autocomplete="off"
                                    placeholder="Ingresa el nombre de la nueva ruta">
                            </div>
                            <div class="form-group">
                                <label>Descripción</label>
                                <input name="description" type="text" class="form-control"
                                    placeholder="Ingresa la descripción de la nueva ruta">
                            </div>
                            <div class="form-group">
                                <label>Guardia asignado</label>
                                <select name="userId" class="form-control">
                                    <% 
                                        if(typeof guards != 'undefined') {
                                            for(let guard of guards) { %>
                                                <option value="<%= guard.id %>"><%= guard.id %> - <%= guard.username %> -<%= guard.name %></option>
                                    <% }} %>
                                </select>
                            </div>    

                            <input type="hidden" name="_csrf" value="<%= csrf %>">
                            <button type="submit" class="btn btn-primary mr-2">Añadir</button>
                            
                        </form>
                    </div>
                </div>
            </div>
            
        </div>

    </div>

</div>


<%- include('footer'); -%>