</div><!-- main wrapper end -->

<!-- core:js -->
<script src="<%= host %>/assets/vendors/core/core.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="<%= host %>/assets/vendors/chartjs/Chart.min.js"></script>
<script src="<%= host %>/assets/vendors/jquery.flot/jquery.flot.js"></script>
<script src="<%= host %>/assets/vendors/jquery.flot/jquery.flot.resize.js"></script>
<script src="<%= host %>/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="<%= host %>/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="<%= host %>/assets/vendors/progressbar.js/progressbar.min.js"></script>
<!-- end plugin js for this page -->
<!-- inject:js -->
<script src="<%= host %>/assets/vendors/feather-icons/feather.min.js"></script>
<script src="<%= host %>/assets/js/template.js"></script>
<!-- endinject -->
<!-- custom js for this page -->
<script src="<%= host %>/assets/js/dashboard.js"></script>
<script src="<%= host %>/assets/js/datepicker.js"></script>
<!-- end custom js for this page -->

</script>
<!-- <script src="<%= host %>assets/bundle.js"></script> -->
<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY5scI2sYPDGoLn2INfct1gMw5gFLIHjs&callback=initMap"></script> -->
</script>
</body>

</html>