<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %> | Control de Guardias de Seguridad</title>
    <!-- core:css -->
    <link rel="stylesheet" href="<%= host %>/assets/vendors/core/core.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="<%= host %>/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- end plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="<%= host %>/assets/fonts/feather-font/css/iconfont.css">
    <link rel="stylesheet" href="<%= host %>/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="<%= host %>/assets/css/demo_1/style.css">
    <!-- End layout styles -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%= host %>/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= host %>/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= host %>/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="<%= host %>/assets/images/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>

<body class="sidebar-dark">
    <div class="main-wrapper">
        <%- include('navbar'); -%>
        <%- include('sidebar'); -%>