<%- include('header'); -%>

<div class="page-wrapper">
    <div class="page-content">
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Rutas</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= status %></li>
            </ol>
        </nav>
        
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Rutas (<%= status %>) </h6>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Descripción</th>                                                                                                                       
                                        <th>Estado</th>    
                                        <th>Guardia</th>                                    
                                        <th>Puntos Pendientes</th>
                                        <th>Puntos Completados</th>
                                        <th>Progreso (%)</th>
                                        <th>Fecha de creación</th>
                                        <th>Ver</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <%
                                        if(typeof routes != 'undefined') {
                                            for(let route of routes) { 
                                    %>
                                        <tr>
                                            <td><%= route.id %></td>
                                            <td><%= route.name %></td>
                                            <td><%= route.description %></td>                                            
                                            <td><%= route.status %></td>
                                            <td><%= route.user.username %></td>
                                            <td><%= route.totalActive %></td>
                                            <td><%= route.totalCompleted %></td>
                                            <td><%= route.totalCompleted / route.totalCheckpoints *100 %>%</td>
                                            <td><%= route.createdAt %></td>
                                            <td><a href="<%= host %>admin/route/<%= route.id %>" class="btn btn-primary mr-2">Ver</a></td>                                            
                                        </tr>
                                    <% }} %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

<%- include('footer'); -%>