<nav class="sidebar">
    <div class="sidebar-header" style="background-color:black">
        <a href="#" class="sidebar-brand">
            Admin<span>Panel</span>
        </a>
        <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar-body" style="background-color: black;">
        <ul class="nav">
            <li class="nav-item nav-category">Main</li>
            <li class="nav-item">
                <a href="<%= host%>admin/dashboard" class="nav-link">
                    <i class="link-icon" data-feather="box"></i>
                    <span class="link-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item nav-category">Administración</li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#users" role="button" aria-expanded="false"
                    aria-controls="users">
                    <i class="link-icon" data-feather="users"></i>
                    <span class="link-title">Usuarios</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="users">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="<%= host%>admin/users/all" class="nav-link">Todos</a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= host%>admin/users/guard" class="nav-link">Guardias de Seguridad</a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= host %>admin/users/admins" class="nav-link ">Administradores</a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= host%>admin/addGuard" class="nav-link">Añadir Guardia</a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= host%>admin/addAdmin" class="nav-link">Añadir Administrador</a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= host%>admin/updateUser" class="nav-link">Modificar Usuario</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#routes" role="button" aria-expanded="false"
                    aria-controls="routes">
                    <i class="link-icon" data-feather="map-pin"></i>
                    <span class="link-title">Rutas</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="routes">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="<%= host%>admin/routes/active" class="nav-link">Rutas Activas</a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= host%>admin/createRoute" class="nav-link">Crear Ruta</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#carTracking" role="button" aria-expanded="false"
                    aria-controls="carTracking">
                    <i class="link-icon" data-feather="truck"></i>
                    <span class="link-title">Seguimiento Vehículos</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="carTracking">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="<%= host%>admin/carRoutes/ALL" class="nav-link">Historial Recorridos</a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= host%>admin/carRoutes/ACTIVE" class="nav-link">Recorridos Activos</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#bitacoras" role="button" aria-expanded="false"
                    aria-controls="bitacoras">
                    <i class="link-icon" data-feather="file-text"></i>
                    <span class="link-title">Bitácoras</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="bitacoras">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="<%= host%>admin/bitacoras" class="nav-link">Ver Bitácoras</a>
                        </li>
                        
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#reports" role="button" aria-expanded="false"
                    aria-controls="reports">
                    <i class="link-icon" data-feather="camera"></i>
                    <span class="link-title">Reportes</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="reports">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="<%= host%>admin/reports" class="nav-link">Ver Reportes</a>
                        </li>
                        
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="<%= host%>admin/accesos" class="nav-link">
                    <i class="link-icon" data-feather="shuffle"></i>
                    <span class="link-title">Accesos</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="<%= host%>admin/chat" class="nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-message-square link-icon">
                        <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                    </svg>
                    <span class="link-title">Chat</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="<%= host%>admin/company" class="nav-link">
                    <i class="link-icon" data-feather="settings"></i>
                    <span class="link-title">Datos de la Empresa</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
