<%- include('header'); -%>

<div class="page-wrapper">
    <div class="page-content">
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Usuarios</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= userType == 'all' ? 'Todos' : userType == 'admin' ? 'Administradores' : 'Guardias' %></li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Usuarios: <%= userType == 'all' ? 'Todos' : userType == 'admin' ? 'Administradores' : 'Guardias' %></h6>
                        <p class="card-description">Página: <%= page && page %></p>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Usuario</th>
                                        <th>Nombre</th>
                                        <th>Email</th>
                                        <th>Teléfono</th>                                        
                                        <th>Activo</th>
                                        <th>Estado</th>
                                        <th>Fecha de Registro</th>
                                        <th>Cuenta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% console.log(users.length) %>
                                    <% if(users && users.length > 0)  {
                                        
                                        for(let user of users) { %>
                                            <tr>
                                                <td><%= user.id %></td>
                                                <td><%= user.username %></td>
                                                <td><%= user.name %></td>
                                                <td><%= user.email %></td>
                                                <td><%= user.phone %></td>
                                                <td><%= user.active %></td>
                                                <td><%= user.status %></td>
                                                <td><%= user.createdAt %></td>
                                                <td><a href="<%= host %>admin/user/<%= user.id %>" class="btn btn-primary mr-2">Ver cuenta</button></td>
                                            </tr>
                                    
                                    <% } } else { %>
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>

                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<%- include('footer'); -%>